--Insert Teams

INSERT INTO DBO.TEAMS VALUES('Arsenal');
INSERT INTO DBO.TEAMS VALUES('Bournemouth');
INSERT INTO DBO.TEAMS VALUES('Liverpool');

--INSERT Individuals

INSERT INTO DBO.INDIVIDUAL VALUES('Takuma','Asano','08-23-1985','IT',1);
INSERT INTO DBO.INDIVIDUAL VALUES('Héctor','Bellerín','08-23-1985','CS',2);
INSERT INTO DBO.INDIVIDUAL VALUES('Joel','Campbell','08-23-1985','SE',3);
--2ND BATCH OF INSERT
--INSERT INTO DBO.INDIVIDUAL VALUES('Oscar','dosSantosEmboabaJunior','08-23-1985','Civil',5);
--INSERT INTO DBO.INDIVIDUAL VALUES('OlayinkaFredrickOladotun','Ladapo','08-23-1985','CS',6);


SELECT * FROM dbo.Individual

DELETE FROM dbo.Individual